<app-auth-page-container heading="AUTH.LOGIN.HEADING" [isLoading]="(isLoading$ | async)">
    <form [formGroup]="form" class="login-page__container" (ngSubmit)="login()" [appFormInputErrorHandler]="errors$ | async">
        <app-form-error [error]="errors$ | async"></app-form-error>
        <mat-form-field>
            <mat-icon matPrefix>mail</mat-icon>
            <mat-label>{{ 'AUTH.FIELDS.EMAIL' | translate }}</mat-label>
            <input type="text" matInput formControlName="email">
            <mat-error *ngIf="form.controls.email.invalid">
                {{ form.controls.email.errors | formErrors | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>{{ 'AUTH.FIELDS.PASSWORD' | translate }}</mat-label>
            <input [attr.type]="showPassword ? 'input' : 'password'" matInput formControlName="password">
            <mat-error *ngIf="form.controls.password.invalid">
                {{ form.controls.password.errors | formErrors | translate }}
            </mat-error>
            <button mat-icon-button matSuffix type="button" color="accent" (click)="togglePasswordVisibility()">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    
        <button class="u-submit-button" type="submit">
            {{ 'AUTH.LOGIN.ACTION' | translate }}
        </button>

        <p class="login-page__register">
            {{ 'AUTH.LOGIN.GO_TO_REGISTER_TEXT' | translate }}
            <button class="u-text-link" (click)="goToRegisterPage()">
                {{ 'AUTH.LOGIN.GO_TO_REGISTER_LINK' | translate }}
            </button>
        </p>
    </form>
</app-auth-page-container>