@import 'src/scss/theme';

.login-page {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__register {
        color: $color-body-light;
        margin-top: 32px;
        text-align: center;
    }
}
