<app-auth-page-container heading="AUTH.REGISTER_HEADING">
    <form class="register-page__container" [formGroup]="form" (ngSubmit)="register()">
        <mat-form-field>
            <mat-label>{{ 'AUTH.NAME' | translate }}</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="form.controls.name.invalid">
                {{ form.controls.name.errors | formErrors | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'AUTH.EMAIL' | translate }}</mat-label>
            <input type="text" matInput formControlName="email">
            <mat-error *ngIf="form.controls.email.invalid">
                {{ form.controls.email.errors | formErrors | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'AUTH.PASSWORD' | translate }}</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="form.controls.password.invalid">
                {{ form.controls.password.errors | formErrors | translate }}
            </mat-error>
        </mat-form-field>
    
        <button class="u-submit-button" type="submit">
            {{ 'AUTH.SIGN_UP' | translate }}
        </button>
    </form>
</app-auth-page-container>
