@import 'src/scss/theme';

.register-page {
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }

    &__login {
        color: $color-body;
        margin-top: 32px;
        text-align: center;
    }
}
