<div class="toolbar__container">
    <!-- Mobile only -->
    <button class="toolbar__menu-button" (click)="toggleMenuOpen()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="toolbar__title" *ngIf="heading">{{ heading | translate }}</h1>
    <!-- Mobile only end -->

    <!-- Non-mobile only -->
    <div class="toolbar__branding">
        <mat-icon class="toolbar__branding-icon">qr_code_2</mat-icon>
        <span class="toolbar__branding-text">recovqr</span>
    </div>

    <nav class="toolbar__nav">
        <a
            *ngFor="let action of navLinks"
            class="toolbar__nav-item"
            [routerLink]="action.link"
            routerLinkActive="is-active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{ action.label | translate }}
        </a>
    </nav>
    <!-- Non-mobile only end -->

    <app-profile-menu
        class="toolbar__profile-menu"
        [userName]="userName"
        (logOut)="logOut.emit()"></app-profile-menu>
</div>