@import 'src/scss/theme';

$mobile-breakpoint: 600px;

.toolbar {
    &__container {
        padding: 12px 24px;
        background: linear-gradient(to right, $color-primary, $color-primary-alt);
        box-shadow: 0 0 16px rgba(black, 0.2);
        display: flex;
        align-items: center;

        @include media-phone {
            padding: 16px 20px;
        }
    }

    &__branding {
        display: flex;
        align-items: center;
        color: white;
        margin-right: 32px;

        @include media-phone {
            display: none;
        }
    }

    &__title {
        display: none;
        color: $color-text-on-primary;
        font-size: 18px;
        margin-bottom: 0;

        @include media-phone {
            display: block;
        }
    }

    &__branding-icon {
        @include icon-size(26px);

        transform: rotate(45deg);
        margin-right: 8px;
    }

    &__branding-text {
        font-size: 20px;
        font-weight: 300;
    }

    &__nav {
        display: flex;
        align-items: center;

        @include media-phone {
            display: none;
        }
    }

    &__nav-item {
        color: $color-text-on-primary;
        text-decoration: none;
        font-weight: 300;
        letter-spacing: 1.1px;
        padding: 8px 12px;
        border-radius: $br-sm;

        &.is-active {
            background-color: rgba(black, 0.1);
        }

        &:hover {
            background-color: rgba(black, 0.1);
        }

        & + & {
            margin-left: 8px;
        }
    }

    &__menu-button {
        color: $color-text-on-primary;
        display: none;
        background: transparent;
        cursor: pointer;
        border: 0;
        padding: 0;
        margin-right: 16px;

        mat-icon {
            @include icon-size(28px);

            display: block !important;
        }

        @include media-phone {
            display: block;
        }
    }
}
