<div class="sidebar__container">
    <div class="sidebar__header">
        <div class="sidebar__branding">
            <mat-icon class="sidebar__branding-icon">qr_code_2</mat-icon>
            <span class="sidebar__branding-text">recovqr</span>
        </div>

        <div class="sidebar__user-info">
            <p class="sidebar__user-name">{{ userName }}</p>
            <p class="sidebar__user-email">{{ userEmail }}</p>
        </div>
    </div>


    <nav class="sidebar__nav">
        <a
            *ngFor="let action of navLinks"
            class="sidebar__nav-item"
            [class.is-disabled]="action.comingSoon"
            [routerLink]="!action.comingSoon ? action.link : ''"
            routerLinkActive="is-active"
            [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="sidebar__icon">{{ action.icon }}</mat-icon>
        {{ action.label | translate }}
        <span *ngIf="action.comingSoon" class="sidebar__disabled-label">
            {{ 'NAVIGATION.COMING_SOON' | translate }}
        </span>
    </a>
    </nav>
</div>