@use '~@angular/material' as mat;

/* stylelint-disable */
@import '../../core/material-variables';
/* stylelint-enable */

/* Initial theme colours - potentially re-enable once setup */
// $color-primary: #3d315b;
// $color-secondary-light: #444b6e;
// $color-accent: #708B75;
// $color-accent-light: #9AB87A;
// $color-tertiary: #F8F991;

$color-primary: mat.get-color-from-palette($recovqr-primary, 800);
$color-accent: mat.get-color-from-palette($recovqr-accent);
$color-warn: mat.get-color-from-palette($recovqr-warn, 700);

$color-accent-hover: mat.get-color-from-palette($recovqr-accent, 600);
$color-warn-light: mat.get-color-from-palette($recovqr-warn, 100);

$color-text-on-accent: white;

$color-body: #555;
