@use '~@angular/material' as mat;

/* stylelint-disable */
@import '../../core/material-variables';
/* stylelint-enable */

$color-primary: mat.get-color-from-palette($recovqr-primary);
$color-primary-hover: mat.get-color-from-palette($recovqr-accent, 600);
$color-text-on-primary: white;

$color-accent: mat.get-color-from-palette($recovqr-accent);
$color-text-on-accent: white;

$color-warn: mat.get-color-from-palette($recovqr-warn, "A200");
$color-warn-light: mat.get-color-from-palette($recovqr-warn, 50);
$color-text-on-warn: white;

$color-body: #555;
$color-body-light: #888;
