@import 'src/scss/theme';

.form-error {
    &__container {
        background-color: rgba(255, 0, 0, 0.1);
        color: $color-warn;
        padding: 12px;
        font-size: 12px;
        border-radius: $br-sm;
        margin-bottom: 24px;
        font-weight: 400;
        display: flex;
        align-items: center;
        line-height: 1.4;
    }

    &__icon {
        display: inline-block;
        margin-right: 12px;
    }
}
