@import 'src/scss/theme';

.dashboard-page {
    &__qr-container {
        border: 1px solid $color-border-light;
        border-radius: $br-sm;
        padding: 12px;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        position: relative;
    }

    &__qr-download {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        background-color: $color-primary;
        color: white;
        padding: 6px 12px;
        font-size: 12px;
        text-decoration: none;
        border-radius: $br-sm;

        mat-icon {
            @include icon-size(16px);

            margin-right: 8px;
        }

        &:hover {
            background-color: $color-primary-hover;
        }
    }

    &__no-tags {
        color: $color-body-light;
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
            @include icon-size(20px);

            margin-right: 8px;
        }
    }
}
