@import 'src/scss/theme';

.profile-menu {
    $cmp: &;

    &__container {
        display: flex;
        background: transparent;
        border: 0;
        padding: 0;
        height: 100%;
        align-items: center;
        cursor: pointer;

        &:hover {
            #{$cmp}__icon {
                background-color: rgba(black, 0.1);
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary;
        background-color: rgba($color-text-on-primary, 0.9);
        height: 28px;
        width: 28px;
        border-radius: $br-max;
        font-weight: bold;
        font-size: 15px;

        mat-icon {
            @include icon-size(22px);
        }

        &:hover {
            background-color: $color-text-on-primary;
        }

        &.selected {
            background-color: $color-primary;
            color: $color-text-on-primary;
        }
    }

    &__profile-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 12px 12px 12px 16px;
        border-bottom: 1px solid $color-border-light;
    }

    &__name {
        margin-right: 16px;
    }
}