<button class="profile-menu__container" [matMenuTriggerFor]="menu">
    <div class="profile-menu__image">
        <mat-icon>person</mat-icon>
    </div>
</button>

<mat-menu #menu="matMenu">
    <div class="profile-menu__profile-item">
        <div class="profile-menu__name">
            {{ name }}
        </div>
        <div class="profile-menu__image selected">
            <mat-icon>person</mat-icon>
        </div>
    </div>
    <button mat-menu-item *ngFor="let item of actions" (click)="item.action()">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label | translate }}</span>
    </button>
</mat-menu>