@import 'src/scss/theme';

.table {
    &__actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__row {
        height: initial;
    }

    &__table {
        width: 100%;
        background: transparent;
    }

    &__action {
        color: $color-body-light;
        transition: 250ms color;

        &:hover {
            color: $color-primary;
        }
    }

    &__no-items {
        color: $color-body-light;
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
            @include icon-size(20px);

            margin-right: 8px;
        }
    }
}
