@import 'src/scss/theme';

.auth-page-container {
    &__container {
        background-color: $color-accent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__dialog {
        background-color: white;
        padding: 3.2rem;
        border-radius: $br-med;
        width: 100%;
        max-width: 300px;
    }

    &__heading {
        text-align: center;
        color: $color-accent;
    }
}
