@import 'src/scss/theme';

.information-display {
    &__message {
        color: $color-body-dark;
        margin-bottom: 16px;
        white-space: pre-wrap;
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__label {
        font-size: 75%;
        color: $color-form-label;
        margin-bottom: 0;
    }

    &__value {
        color: $color-body;
        margin-bottom: 0;
    }

    &__section {
        display: flex;
        align-items: center;
        flex: 1 1 45%;

        @media (max-width: 500px) {
            flex: 1 1 100%;
        }

        &.is-clickable {
            cursor: pointer;

            &:hover {
                p {
                    color: $color-primary;
                }
            }
        }
    }

    &__icon {
        @include icon-size(22px);

        margin-right: 20px;
    }

    &__open-icon {
        display: none;

        @include media-phone {
            margin-left: auto;
            color: $color-primary;
            display: block;
        }
    }
}
