<div class="information-display__container">
    <p class="information-display__message" *ngIf="information.message" [innerHTML]="information.message"></p>
    <div class="information-display__fields">
        <ng-container *ngFor="let field of informationFields">
            <div *ngIf="field.value" class="information-display__section">
                <mat-icon class="information-display__icon" color="primary">{{ field.icon }}</mat-icon>
                <div class="information-display__section-content">
                    <p class="u-label">{{ field.label | translate }}</p>
                    <p class="u-value">{{ field.value }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>