form {
    section {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 18px;
            font-weight: 500;
            color: $color-primary;
            margin-bottom: 12px;
        }

        h2 + p {
            font-size: 12px;
            color: $color-body-light;
            font-weight: 300;
            margin-bottom: 16px !important;
            margin-top: -12px !important;
        }
    }

    button[type=submit] {
        background-color: $color-primary;
        color: $color-text-on-primary;
        width: 100%;
        text-align: center;
        padding: 1.6rem 2.4rem;
        border: 0;
        border-radius: $br-sm;
        font-size: 1.6rem;
        cursor: pointer;

        /* stylelint-disable */
        &:hover {
            background-color: $color-primary-hover;
        }
        /* stylelint-enable */
    }
}
