@import 'src/scss/theme';

mat-form-field {
    display: block;
    margin-bottom: 4px;

    mat-icon[matPrefix] {
        color: $color-primary;
        margin-right: 8px;
        margin-left: 4px;
    }

    &:last-of-type {
        margin-bottom: 16px;
    }

    @include media-phone {
        font-size: 16px !important;
    }
}

mat-spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
    padding-left: 0 !important;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
    padding-right: 0 !important;
}

.mat-dialog-title {
    font-weight: 400 !important;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-border-light;
}

.mat-menu-content {
    padding: 0 !important;
}

.mat-menu-panel {
    margin-top: -32px;
    margin-right: -8px;
    min-height: initial !important;
}

.mat-paginator-page-size {
    height: 54px !important;

    .mat-form-field-infix {
        padding: 4px 0 6px 0 !important;

        @include media-phone {
            padding-top: 0px !important;
        }
    }
}
