@import 'src/scss/theme';

mat-form-field {
    display: block;
    margin-bottom: 8px;

    mat-icon[matPrefix] {
        color: $color-primary;
        margin-right: 8px;
        margin-left: 4px;
    }

    &:last-of-type {
        margin-bottom: 16px;
    }
}

mat-spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}
