@import 'src/scss/theme';

.snackbar-success {
    background-color: $color-success;
    color: $color-text-on-success;
}

.snackbar-error {
    background-color: $color-warn;
    color: $color-text-on-warn;
}
