section {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 18px;
        font-weight: 500;
        color: $color-primary;
        margin-bottom: 12px;
    }

    h2 + p {
        font-size: 12px;
        color: $color-body-light;
        font-weight: 300;
        margin-bottom: 16px !important;
        margin-top: -12px !important;
    }
}
